{% extends "layout.html" %}

{% block title %}
    <title>Apology</title>
{% endblock %}

{% block body %}
        <div class="d-flex flex-column mb-3">
            <div class="center">
                <img src="data:image/png;base64,{{ image_data }}" alt="Preview Image" height="{{height}}" width={{width}}>
                <div class="container">
                    <form action="/download" method="post">
                        <button type="submit" class="btn btn-primary">Download</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}